body {
    font-family: $raleway;
}

h1 {
    text-align: center;
    font-weight: $extra-light ;
}

h2 {
    text-align: center;
    color:white;
}

article {
    color:white;
    font-size: $medium;
    font-weight: $extra-light;
}

.font-xxs {
    font-size: $medium;
}