//Color Scheme

//First Color Scheme
$white:#FFF;
$snow:#FAFAFA;
$quicksilver: #A0A0A0;
$jellybeam:#E56353;
$salmon:#e97F72;
$pastelpink:#F0A9A1;
$granitegray:#686963;
$taupegray:#91918D;
$gray:#BABAB8;

//Font Family
$raleway: 'Raleway', sans-serif;

//Font Typefaces
$bold : 700;
$regular : 400;
$extra-light: 300;

//Font Sizes
$xx-large:100px;
$x-large:70px;
$large:50px;
$medium:10px;
