.footer {
    background-color: $granitegray;
    height: 200px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.img-footer {
    width: 200px;
    height: auto;
}