.main-1 {
    background-color: $gray;
    display:block;
    text-align: center;
    padding : 20px 40px
}

.main-2 {
    display:block;
    text-align: center;
    padding : 20px 40px;
}

.img-box-1 {
    width:100%;
    height: auto;
    
}

.img-box-2 {
    width: 60%;
    height: auto;
}

.btn-main {
    border:none;
    background-color: $white;
    color:$granitegray;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor:pointer;
    border-radius: 150px;
    width: 190px;
    height: 30px;

}
